.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4d4d4d;
}

.appButton {
  padding: 15px 20px;
  background-color: #3cce6d;
  border: none;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.appButton:hover {
  background-color: #16b64c;
}